.Net{
  width: 100%;
  height: 100%;
  //overflow: hidden;
  .footer{
    position: fixed;
    bottom: ~'200rpx';
    right: ~'20rpx';
    width: ~'100rpx';
    height: ~'100rpx';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    span{
      color: #ffffff;
      font-size: ~'24rpx';
    }
  }
  .NetTop{
    width: 100%;
    //height: ~'450rpx';
    position: relative;
    //background-image: linear-gradient( #2b93ec 10%, #64B1F1 50% , #abd9ff);
    .BG-img{
      position: absolute;
      bottom: ~'-300rpx';
      width: 100%;
      img{
        width: 100%;
      }
    }
    .Check{
      position: absolute;
      z-index: 99;
      right: ~'80rpx';
      top: ~'160rpx';
      width: ~'179rpx';
      height: ~'179rpx';
      background: rgba(158,211,255,1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .check-in{
        animation: spin-down 2s linear infinite normal;
        width: ~'179rpx';
        height: ~'179rpx';
        border-radius: 50%;
        background: #C9E6FF;
        color: #2D95ED;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .CheckA{
      position: absolute;
      right: ~'80rpx';
      top: ~'160rpx';
      width: ~'179rpx';
      height: ~'179rpx';
      background: rgba(158,211,255,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .check-in{
        //animation: spin-down 2s linear infinite normal;
        width: ~'139rpx';
        height: ~'139rpx';
        border-radius: 50%;
        background: #C9E6FF;
        color: #2D95ED;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    // 标题
    .title{
      width: 100%;
      height: ~'150rpx' ;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-weight: 600;
        font-size: ~'37rpx';
        color: #000000;
      }
    }
    // 搜索栏
    .infoA{
      width: 100%;
      height: ~'60rpx';
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      .inputClass{
        width: ~'715rpx';
        height: ~'60rpx';
        line-height: ~'60rpx';
        background: #EDEDED;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        .iconsousuo{
          color: #989898;
          margin: 0 ~'20rpx';
          display: inline-block;
          text-align: center;
        }
        input{
          display: inline-block;
          width: ~'620rpx';
          color: #989898;
          font-size: ~'24rpx';
        }
      }
    }
      //数据
    .Ndata{
      width: 100%;
      background: #ffffff;
      height: ~'60rpx';
      display: flex;
      align-items: center;
      justify-content: center;
      .Ndata-main{
        width: ~'650rpx';
        height: ~'60rpx';
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        span{
          font-size: ~'22rpx';
          color: #9B9B9B;
        }
      }
    }

    //轮播图
    .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      padding-top: ~'5rpx';
      .bannerMain{
        width: ~'715rpx';
        /*background: #000000;*/
        height: ~'301rpx';
        z-index: 9999!important;
        border-radius: ~'10rpx';
        .swiper{
          width: ~'715rpx';
          height: ~'301rpx';
          border-radius: ~'10rpx';
          .slide-image{
            width: ~'715rpx';
            height: ~'301rpx';
            display: inline-block;
            border-radius: ~'10rpx';
          }
        }
      }
    }
    // 新闻分类
    .NewClass{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      height: ~'200rpx';
      .NewClass-main{
        width: ~'715rpx';
        height: ~'150rpx';
        display: flex;
        justify-content: space-between;
        .NewChoose{
          width: 20%;
          text-align: center;
          display: inline-block;
          .NewImg{
            width: ~'87rpx';
            height: ~'87rpx';
            border-radius: ~'50rpx';
            display: inline-block;
            img{
              display: inline-block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .NewName{
            display: inline-block;
            font-size: ~'32rpx';
            color: #9B9B9B;
          }
        }
      }
    }
    .info{
      position: absolute;
      top: ~'220rpx';
      left: ~'80rpx';
      color: #ffffff;
      text-align: center;
      .info-left{
        display: inline-block;
        margin-right: ~'30rpx';
        .num{
          font-size: ~'32rpx';
          font-weight: 500;
        }
        .size{
          font-size: ~'28rpx';
        }
      }
      .info-right{
        display: inline-block;
        .num{
          font-size: ~'32rpx';
          font-weight: 500;
        }
        .size{
          font-size: ~'28rpx';
        }
      }
    }
  }


// 新闻内容
  .Netmain{
    width: 100%;
    margin-bottom: ~'0rpx';
    .Netmain-top{
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      background: #ffffff;
      padding-bottom: ~'20rpx';
      .testNav {
        width: ~'660rpx';
        margin:  0;
        //padding: 0 ~'10rpx' 0 ~'10rpx';
        //height: ~'88rpx';
        //line-height: ~'88rpx';
        display: flex;
        //float: left;
        justify-content: space-between;
        align-items: center;
        color: #9B9B9B;
        font-size: ~'28rpx';
        div{
          padding: 0;
          //margin: 0 ~'30rpx';
          color: #9B9B9B;
        }
        .testTitle {
          //flex: 1;
          width: ~'96rpx';
          display: inline-block;
          height: ~'45rpx';
          text-align: center;
          line-height: ~'45rpx';
        }
        .selected {
          font-size: ~'28rpx';
          color: #ffffff;
          width: ~'96rpx';
          line-height: ~'45rpx';
          display: inline-block;
          height: ~'45rpx';
          border-radius: ~'30rpx';
          background: #FFAB37;
          //border-bottom: 1px solid #ffffff;
        }
      }
    }

    //新闻列表样式
    .new-list {
      background-color: #fff;
      //border-top-left-radius: 8rpx;
      //border-top-right-radius: 8rpx;
      //position: relative;
      //left: 0;
      //top: 0;
      margin-top: ~'10rpx';
      margin-bottom: ~'2rpx';
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      width: ~'750rpx';
      flex: 1;
      //overflow-x: hidden;

      .news-item-wrap {
        width: 100%;
        border-bottom: ~'2rpx' solid #eee;
        padding: ~'28rpx' ~'20rpx' ~'57rpx';
        box-sizing: border-box;
        // 广告图片
        .banner {
          width: ~'656rpx';
          height: ~'258rpx';
          margin: ~'0rpx' auto ~'-29rpx';
          .imgMain{
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: ~'10rpx';
          }
        }
        // 流量主
        .excitation{
          width: ~'656rpx';
          margin: ~'0rpx' auto ~'-29rpx';
        }

        //新闻item 头部
        .news-header {
          height: ~'88rpx';
          width: ~'658rpx';
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          .iconliaotian1{
            margin-top: ~'15rpx';
            font-size: ~'35rpx';
            text-align: right;
            color: #566A95;
          }
          .avatar-wrp {
            width: ~'88rpx';
            height: ~'88rpx';
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;
            box-sizing: border-box;

            .img {
              width: 100%;
              height: 100%;
            }
          }

          .author-info {
            padding-top: ~'8rpx';
            padding-left: ~'30rpx';
            flex: 1;
            height: ~'88rpx';
            box-sizing: border-box;

            .author-name {
              font-size: ~'28rpx';
              font-weight: bold;
              margin-top: ~'-5rpx';
            }

            .author-date {
              font-size: ~'24rpx';
              margin-top: ~'15rpx';
              color: rgba(157, 157, 157, 1);
            }
          }

          .right-side {
            padding-top: ~'8rpx';
            width: ~'80rpx';

            .forward {
              text-align: right;
              font-size: ~'24rpx';
              color: #566A95;
              height: ~'44rpx';
              line-height: ~'44rpx';
            }
          }
        }

        //新闻内容
        .news-item {
          width: ~'658rpx';
          margin: 0 auto;
          //新闻标题
          .item-title {
            width: 100%;
            margin: 0 auto;
            //padding: ~'26rpx' 0 ~'21rpx' 0;
            color: #4A4A4A;
            font-size: ~'32rpx';

            .title {
              width: ~'658rpx';
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              display: inline-block;
            }
          }

          //新闻封面
          .news-cover {
            //height: ~'376rpx';
            width: 100%;
            overflow: hidden;
            position: relative;
            .news{
              i{
                float: left;
                margin-right: ~'13rpx';
                margin-top: ~'10rpx';
                margin-bottom: ~'10rpx';
                width: ~'210rpx';
                //border: ~'1rpx' solid #cccccc;
                .img{
                  display: inline-block;
                  width: ~'210rpx';
                  height: ~'210rpx';
                }
                .imgA{
                  width: 100%;
                }
              }
              i:nth-child(3){
                   margin-right: 0;
                 }
               i:nth-child(6){
                margin-right: 0;
              }
               i:nth-child(9){
                margin-right: 0;
              }
            }
            .imgB{
              width: 100%;
              position: relative;
              .iconbofang1{
                color: #b8b8b8;
                position: absolute;
                top: 40%;
                left: 45%;
                font-size: ~'80rpx';
              }
            }
            .JiuImg{
              .img {
                height: 100%;
                display: inline-block;
                width: 100%;

              }

              .news-desc {
                width: 100%;
                max-height: ~'100rpx';
                position: absolute;
                left: 0;
                bottom: ~'9rpx';
                background: rgba(0, 0, 0, 0.47);
                padding: ~'10rpx' ~'26rpx';
                font-size: ~'26rpx';
                font-weight: 400;
                box-sizing: border-box;
                color: #ffffff;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; // 控制多行的行数
                -webkit-box-orient: vertical;
              }
            }
          }

          //新闻浏览评论
          .news-view {
            padding: ~'32rpx' 0 ~'23rpx' 0;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .watch {
              font-size: ~'24rpx';
              color: #566A95;
              display: flex;
              align-items: center;
              justify-content: center;
              p{
                margin-right: ~'20rpx';
                span{
                  vertical-align: top;
                }
              }
            }

            .isLike {
              color: #2A94EC;
            }

            .iconfont {
              line-height: 1;
              margin-right: ~'4rpx';
            }

            .iconkongaixinfuzhi {
              display: inline-block;
              font-size: ~'22rpx';
            }
            .iconliulan1{
              display: inline-block;
              font-size: ~'22rpx';
            }
            .iconaixin{
              display: inline-block;
            }
            .iconyanjing1{
              display: inline-block;
              font-size: ~'22rpx';
            }
            .iconxin{
              display: inline-block;
              font-size: ~'22rpx';
            }
            .iconpinglun1{
              display: inline-block;
            }
            .icon-chakan {
            }

            // 点击展开点在评论
            .wrap-btn {
              position: absolute;
              right: ~'-20rpx';
              background-color: #fff;
              width: ~'94rpx';
              height: ~'64rpx';

              .btn-click {
                margin: ~'15rpx' 0 0 ~'10rpx';
                width: ~'64rpx';
                height: ~'34rpx';
                background-color: #F3F3F5;
                border-radius: ~'8' rpx;
                justify-content: center;
                display: flex;
                align-items: center;

                span {
                  width: ~'9rpx';
                  height: ~'9rpx';
                  border-radius: ~'10rpx';
                  background-color: #566A95;
                  display: inline-block;
                }

                span + span {
                  margin-left: ~'6rpx';
                }
              }
            }
            // 悬浮点赞评论
            .btn-group-ab {
              position: absolute;
              //background-color: #4C5254;
              color: #4C5254;
              font-size: ~'24rpx';
              //border-radius: ~'8rpx';
              // right: 74rpx;
              //transform: translateX(208 rpx);
              right: 0;
              //transition: all 0.2s ease;
              display: flex;
              align-items: center;
              span{
                vertical-align: top;
              }
              .line{
                display: inline-block;
                border-right:  ~'2rpx' solid #34373A;
                height: ~'40rpx';
                line-height: ~'40rpx';
              }
              .common-p {
                width: ~'90rpx';
                text-align: right;
                //justify-content: center;
                display: inline-block;
              }

              .common-p:first-child {
                //height: ~'40rpx';
                margin-right: ~'20rpx';
                display: inline-block;
              }
              .common-p:last-child {
                //height: ~'40rpx';
                margin-left: ~'20rpx';
                display: inline-block;
              }
            }

            .trans {
              transform: translateX(-74 rpx);
            }
          }

          .news-view:last-child {
            border: none;
          }

          //.right-item {
          //  flex: 1;
          //  margin-left: 12rpx;
          //  font-size: 28rpx;
          //  color: #4A4A4A;
          //}

        }
        // 点赞评论
        .comment-map {
          width: ~'658rpx';
          margin: 0 auto;
          background-color: #F3F3F5;
          position: relative;
          margin-top: ~'30rpx';
          font-size: ~'24rpx';
          color: #4F658F;
          padding: ~'8rpx' ~'14rpx' ~'10rpx';
          box-sizing: border-box;

          &:before {
            content: ' ';
            position: absolute;
            left: ~'10rpx';
            top: ~'-24rpx';
            width: 0;
            height: 0;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent #F3F3F5 transparent;
          }

          .iconaixin {
            font-size: ~'30rpx';
            margin-right: ~'8rpx';
            line-height: 1;
            display: inline-block;
            vertical-align: text-bottom;
          }


          .name {
            padding-top: ~'6rpx';
            margin-right: ~'6rpx';
          }

          .detail {
            color: #000;
            margin-top: ~'6rpx';
          }

        }

      }
    }
    .new-listBottom{
      width: 100%;
      height: ~'403rpx';
      background: #ffffff;
      margin-top: ~'10rpx';
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        color: #9b9b9b;
        font-size: ~'30rpx';
      }
    }
    // 评论输入框
    .input-bottom {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #FAFAFA;
      color: #000;
      border-top: ~'1rpx' solid #bfbfbf;
      padding: ~'8rpx' ~'20rpx';
      box-sizing: border-box;
      z-index: 9999!important;
      textarea {
        background-color: #fff;
        width: 100%;
        min-height: ~'100rpx';
        padding: 0 ~'20rpx';
        box-sizing: border-box;
        font-size: ~'26rpx';
      }
    }
  }



  //名片
  .NetCard{
    position: relative;
    //position: fixed;
    //top: ~'435rpx';
    margin-top: ~'-60rpx';
    width: 100%;
    min-height: ~'808rpx';
    height: 100%;
    background: #ffffff;
    z-index: 99!important;
    border-top-left-radius: ~'25rpx';
    border-top-right-radius: ~'25rpx';
    .NetCard-top{
      height: ~'75rpx';
      padding: 0 ~'40rpx';
      display: flex;
      align-items: center;
      justify-content:  space-between;
      border-bottom: ~'1rpx' solid #CCCCCC;
      .title{
        color: #5B5B5B;
        font-size: ~'30rpx';
      }
      .fire{
        color: #2A94EC;
        font-size: ~'26rpx';
        .iconremen{
          display: inline-block;
        }
      }
    }

    .NetCard-mainA{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .img{
       width: ~'800rpx';
        height: ~'800rpx';
      }
    }
    .NetCard-main{
      //margin-top: ~'75rpx';
      height: 100%;
      padding: 0 ~'40rpx';
      .scroll-view{
        height: 100%;
        .conts-main{
          width: 100%;
          height: 100%;
          min-height: ~'600rpx';
          //padding-bottom: ~'120rpx';
          .card{
            //width: ~'656rpx';
            height: ~'110rpx';
            padding: ~'10rpx' 0;
            display: block;
            margin: 0 auto;
            margin-top: ~'10rpx';
            //border-radius: ~'10rpx';
            border-bottom: ~'1rpx' solid #CCCCCC;
            //box-shadow: ~'3rpx' ~'3rpx' ~'3rpx' #f1f1f1;
            position: relative;
            span{
              .imga{
                width: ~'100rpx';
                height: ~'100rpx';
                border-radius: ~'10rpx';
                position: relative;
              }
              .grade{
                position: absolute;
                left: ~'75rpx';
                bottom: ~'0rpx';
                i{
                  img{
                    width: ~'47rpx';
                    height: ~'47rpx';
                    border-radius: 50%;
                  }
                }
              }
            }

            .card-main{
              .qiye {
                position: absolute;
                top: ~'20rpx';
                left: ~'130rpx';
                .img{
                  width: ~'28rpx';
                  height: ~'28rpx';
                  font-size: ~'20rpx';
                  color: #2A94EC;
                  border: ~'1rpx' solid #2a94ec ;
                  float: left;
                  border-radius: ~'25rpx';
                  s {
                    text-align: center;
                  }
                }
                b{
                  float: left;
                  margin-top: ~'-8rpx';
                  margin-left: ~'10rpx';
                  font-weight: 600;
                  max-width: ~'150rpx';
                  font-size: ~'30rpx';
                  overflow: hidden;
                  text-overflow:ellipsis;
                  white-space: nowrap;

                }
                .job{
                  float: left;
                  max-width: ~'110rpx';
                  font-size: ~'24rpx';
                  margin-top: ~'-3rpx';
                  overflow: hidden;
                  text-overflow:ellipsis;
                  white-space: nowrap;
                  margin-left: ~'20rpx';
                  color: #c5c5c5;
                }
                .status{
                  color: #2A94EC;
                  border: 1px solid #2A94EC;
                  padding: 0 ~'2rpx';
                  font-size: ~'16rpx';
                  float: left;
                  display: flex;
                  margin-left: ~'15rpx';
                  border-radius: ~'10rpx';
                }
              }
              .comyname{
                position: absolute;
                bottom: ~'20rpx';
                left: ~'130rpx';
                font-size: ~'26rpx';
                color:#9D9D9D;
              }
            }


            .card-right{
              position:absolute ;
              right: ~'10rpx';
              top: ~'20rpx';
              color: #2A94EC;
              font-size: ~'20rpx';
              .eye img{
                width: ~'20rpx';
                height: ~'20rpx';
              }

              .star img{
                width: ~'20rpx';
                height: ~'20rpx';
              }
              p{
                display: inline-block ;
                margin-left: ~'10rpx';
                position: relative;
              }
              span{
                margin-left: ~'10rpx';
              }
              i {
                position: absolute;
                right: 0;
                bottom:~'-58rpx';
                img{
                  width: ~'40rpx';
                  height: ~'40rpx';
                }
              }
            }
          }
        }
      }
    }
  }


  //签到成功
  .NetSucces{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999!important;
    display: flex;
    align-items: center;
    justify-content: center;
    .NetSucces-main{
      width:~'469rpx';
      height: ~'600rpx';
      display: inline-block;
      //background: url("https://oss.tzyizan.com/salesInfo/201907231449301563864570184.png") no-repeat 50% 50%;
      .img{
        display: inline-block;
        position: relative;
        img{
          width:~'469rpx';
          height: ~'600rpx';
        }
        .main{
          color: #dddddd;
          position: absolute;
          top: ~'380rpx';
          height: ~'200rpx';
          width: ~'450rpx';
          text-align: center;
          .suc{
            color: #58B3FF;
            font-size: ~'34rpx';
          }
          .title{
            color: #000000;
            font-size: ~'26rpx';
            padding: ~'20rpx' 0;
          }
          .info{
            color: #BABABA;
            font-size: ~'24rpx';
            font-weight: normal;
          }
        }
        .delete{
          width: ~'469rpx';
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: ~'-90rpx';
          .line{
            width: ~'1rpx';
            background: #ffffff;
            height: ~'100rpx';
            position: relative;
          }
          .iconshanchu-copy{
            position: absolute;
            bottom: ~'-30rpx';
            color: #ffffff;
            font-size: ~'40rpx';
          }
        }
      }
    }
  }
}

@keyframes spin-down {
  0% {
    opacity: 0.4;
    width: ~'179rpx';
    height: ~'179rpx';
  }

  50% {
    opacity: 1;
    width: ~'120rpx';
    height: ~'120rpx';
  }

  100% {
    opacity: 0.4;
    width: ~'179rpx';
    height: ~'179rpx';
  }
}

.Main-Img{
  width: 100%;
  height: ~'670rpx';
  img{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}


// 收起展开
.total-introduce {
  height: auto;
  overflow: hidden;
  font-size: ~'28rpx';
  color: #434343;
  margin: ~'20rpx';
  .intro-content {
    .merchant-desc {
      width: 100%;
      line-height: ~'42rpx';
    }
  }
}
.unfold {
  display: block;
  z-index: 11;
  //float: right;
  width: ~'80rpx';
  height: ~'42rpx';
  p {
    margin: 0;
    line-height: ~'42rpx';
    color: #566A95;
  }
}
.detailed-introduce {
  font-size: ~'28rpx';
  color: #434343;
  position: relative;
  overflow: hidden;
  margin: ~'20rpx';

  .intro-content {
    // 最大高度设为4倍的行间距
    max-height: ~'168rpx';
    line-height: 21px;
    word-wrap: break-word;
    /*强制打散字符*/
    word-break: break-all;
    background: #ffffff;
    /*同背景色*/
    //color: #ffffff;
    overflow: hidden;
    margin-bottom: ~'50rpx';
    .merchant-desc {
      width: 100%;
      line-height: ~'42rpx';
    }

    &:after,
      // 这是展开前实际显示的内容
    &:before {
      content: attr(title);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      color: #434343
      // overflow: hidden;
    }

    // 把最后最后一行自身的上面三行遮住
    &:before {
      display: block;
      overflow: hidden;
      z-index: 1;
      max-height: 63px;
      background: #ffffff;
    }

    &:after {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 81px;
      /*截取行数*/
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      /*行首缩进字符数，值为[(截取行数-1)*尾部留空字符数]*/
      //text-indent: -12em;
      /*尾部留空字符数*/
      //padding-right: 4em;
    }
  }
  .unfold {
    z-index: 11;
    width: 40px;
    height: 21px;
    outline: 0;
    position: absolute;
    left: 0;
    bottom: 0;

    p {
      margin: 0;
      line-height: 21px;
      color: #566A95;
    }
  }
}
