//公司介绍
.introduce{
  width: 100%;
  margin-top: ~'20rpx';
  display: inline-block;
  .top{
    width: 100%;
    background: #ffffff;
    .industry{
      padding: ~'20rpx' ~'40rpx';
      font-size: ~'28rpx';
      border-bottom: ~'1rpx' solid  #eeeeee;
      .choose{
        float: right;
        color: #5b5b5b!important;
        input{
          text-align: right;
        }
      }
    }
    .studs{
      padding: ~'20rpx' ~'40rpx';
      font-size: ~'28rpx';
      border-bottom: ~'1rpx' solid  #eeeeee;
      .pickerA {
        float: right;

        .Down {
          display: inline-block;
          color: #5b5b5b !important;
          transform: rotate(90deg);
          margin-left: ~'10rpx';
          float: right;
        }
      }
      .choose {
        float: right;
        color: #5b5b5b!important;

        input{
          text-align: right;
        }
        .picker {
          float: right;

          .Down {
            display: inline-block;
            color: #5b5b5b !important;
            transform: rotate(90deg);
            margin-left: ~'10rpx';
            float: right;
          }
        }
      }
    }
    .textArea{
      padding: ~'20rpx' ~'40rpx';
      font-size: ~'28rpx';
      height: ~'120rpx';
      border-bottom: ~'1rpx' solid  #eeeeee;
      textarea{
        width: 100%;
        height: ~'150rpx';
        color: #cccccc;
      }
      .upload{
        margin-bottom: ~'10rpx';
        .product{
          font-size: ~'28rpx';
          line-height: ~'120rpx';
        }
        .tips{
          font-size: ~'24rpx';
          color: #CCCCCC;
          margin-left: ~'20rpx';
          float: right;
        }
      }
    }
    // 产品详情
    .goods-detail {
      font-size: 0;
      color: #000;
      background-color: #fff;
      padding: ~'30rpx';

      .title {
        font-size: ~'28rpx';
      }

      .add-same {
        width: ~'150rpx';
        height: ~'100rpx';
        color: #9d9d9d;
        font-size: ~'24rpx';
        box-sizing: border-box;
        border: ~'2rpx' solid #eee;
        align-items: center;
        justify-content: center;
        margin-top: ~'24rpx';
      }

      .bottom-wrap {
        padding-bottom: ~'24rpx';
        border-bottom: ~'2rpx' dashed #eee;
        margin-bottom: ~'24rpx';
      }

      .info-wrap {
        width: 100%;
        position: relative;

        .iconshanchu-copy {
          position: absolute;
          font-size: ~'50rpx';
          display: inline-block;
          color: #999999;
          color: rgba(0, 0, 0, 0.3);
          top: ~'6rpx';
          right: ~'6rpx';
          line-height: 1;
        }
      }

      .info-img {
        width: 100%;
        margin-bottom: ~'20rpx';
      }
    }
    // 详情
    .details{
      padding: ~'20rpx' ~'40rpx';
      font-size: ~'28rpx';
      .title{

      }
    }
  }
  .footer{
    margin-top: ~'100rpx';
    margin-bottom: ~'100rpx';
    .save{
      width: ~'656rpx';
      height: ~'97rpx';
      background: #FFA325;
      color: #ffffff;
      display: block;
      margin: 0 auto;
    }
  }
}
