.simple{
  width: 100%;
  height: 100%;
  .top{
    width: 100%;
    height: ~'200rpx';
    background: #ffffff;
    margin: ~'20rpx' 0;
    position: relative;
    .Img{
      position: absolute;
      top: ~'34rpx';
      left: ~'60rpx';
      width: ~'130rpx';
      height: ~'130rpx';
      border-radius: ~'10rpx';
      border: ~'1rpx' solid #CCCCCC;
      color: #CCCCCC;
      text-align: center;
      z-index: 999!important;
      image{
        width: ~'128rpx';
        height: ~'128rpx';
        display: inline-block;
        border-radius: ~'10rpx';
        position: relative;
        span{
          position: absolute;
          left: 0;
          bottom: 0;
          font-size: ~'20rpx';
          height: ~'30rpx';
          line-height: ~'30rpx';
          color: #ffffff;
          width: 100%;
          background: rgba(0,0,0,0.5);
        }
      }
      .iconaddgrey{
        color: #CCCCCC;
        display: inline-block;
        padding-top: ~'30rpx';
      }
      p{
       font-size: ~'24rpx';
      }
    }
    .name{
      position: absolute;
      top: ~'48rpx';
      left: ~'220rpx';
      p{
        font-size: ~'28rpx';
        color: #5B5B5B;
        margin-bottom: ~'25rpx';
      }
      input{
        font-size: ~'28rpx';
        color: #000000;
      }
    }
  }


  .main{
    width: 100%;
    background: #ffffff;
    .phone{
      padding: ~'20rpx' ~'60rpx';
      border-bottom: ~'1rpx' solid #eeeeee;
      p{
        font-size: ~'28rpx';
        color: #5B5B5B;
        margin-bottom: ~'20rpx';
      }
      input{
        font-size: ~'28rpx';
        color: #CCCCCC;
      }
    }
    .job{
      padding: ~'20rpx' ~'60rpx';
      p{
        font-size: ~'28rpx';
        color: #5B5B5B;
        margin-bottom: ~'20rpx';
      }
      input{
        font-size: ~'28rpx';
        color: #CCCCCC;
      }
    }
    .company{
      padding: ~'20rpx' ~'60rpx';
      border-bottom: ~'1rpx' solid #eeeeee;
      p{
        font-size: ~'28rpx';
        color: #5B5B5B;
        margin-bottom: ~'20rpx';
      }
      input{
        font-size: ~'28rpx';
        color: #CCCCCC;
      }
    }
  }


  .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: ~'100rpx';
    button{
      font-size: ~'30rpx';
      color: #ffffff;
      background:#FF8848 ;
      width: ~'654rpx';
      height: ~'97rpx';
      line-height: ~'97rpx';
    }
  }
}
//input::-webkit-input-placeholder {
//  color: #CCCCCC;
//}
