.logistics-page {
  width: 100%;
  box-sizing: border-box;
  padding: 22rpx;
}

// 快递单号
.top-code {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 156rpx;
  border-radius: 8rpx;
  padding: 0 30rpx;
  box-sizing: border-box;

  .logo {
    width: 94rpx;
    height: 94rpx;
    border-radius: 94rpx;
    margin-right: 24rpx;
  }

  .right-logistic {
    font-size: 24rpx;
    color: #000;
  }

  .name {
    font-size: 26rpx;
    font-weight: bold;
  }

  .icon-fuzhicopy211 {
    font-size: 20rpx;
    margin-left: 10rpx;
  }
}

// 物流详情
.white-logistics {
  width: 100%;
  margin-top: 22rpx;
  background-color: #fff;
  box-sizing: border-box;
  padding: 50rpx 40rpx 50rpx 140rpx;
  font-size: 26rpx;
  color: #BCBCBC;
  border-radius: 8rpx;

  .top-address {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    min-height: 150rpx;
    position: relative;
    align-items: flex-start;

    &::after {
      content: ' ';
      position: absolute;
      border-left: 2rpx dashed #BCBCBC;
      height: 100%;
      left: 25rpx;
      top: 50rpx;
    }
  }

  .collect {
    width: 50rpx;
    height: 50rpx;
    border-radius: 100rpx;
    background-color: #4A90E2;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: 50rpx;
  }

  .address {
    color: #000;
    flex: 1;
    margin-bottom: 20rpx;
    margin-top: 4rpx;
  }

  .single-box {
    min-height: 120rpx;
    align-items: flex-start;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    &::after {
      content: ' ';
      position: absolute;
      width: 2rpx;
      background-color: #D8D8D8;
      height: 100%;
      left: 25rpx;
      top: 16rpx;
    }
  }

  .single-box:last-child {
    &::after {
      display: none;
    }
  }

  .radius-wrap {
    width: 50rpx;
    height: 50rpx;
    border-radius: 50rpx;
    border: 2rpx solid #D8D8D8;
    color: #D8D8D8;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1000;
    position: relative;
  }

  .radius-wrap-small {
    width: 18rpx;
    height: 18rpx;
    background-color: #D8D8D8;
    border-radius: 18rpx;
    display: inline-block;
    margin: 12rpx 20rpx 0 16rpx;
    z-index: 1000;
  }

  .iconfont {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }

  .icon-gouxuan {
    font-size: 24rpx;
  }

  .icon-wo {
    font-size: 30rpx;
  }

  .icon-shouye-fahuo {
    font-size: 24rpx;
  }

  .icon-xingsszhuang {
    font-size: 20rpx;
  }

  .icon-question {
    font-size: 36rpx;
  }

  .right-box {
    flex: 1;
    margin-left: 10rpx;
    margin-bottom: 20rpx;
  }

  //   时间
  .date-wrap {
    color: #BCBCBC;
    text-align: center;
    position: absolute;
    left: -84rpx;
    top: -8rpx;
    line-height: 1.3;

    .time {
      font-size: 22rpx;
    }
  }

  .active {

    .radius-wrap,
    .radius-wrap-small {
      background-color: #4A90E2;
      color: #fff;
      border-color: #4A90E2;
    }

    .right-box,
    .date {
      color: #000;
    }
  }
}
