.ag-extend-page {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
.extend-wrap{
    width: 100%;
    height: 536rpx;
    background-color: #fff;
    text-align: center;
}
  .code-img {
    width: 360rpx;
    margin-top: 76rpx;
  }
}
