.ag-team-page {
  width: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
  %flexRow {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;

  }
  .wrap-check {
    width: 100%;
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    top: 0;
  }

  .nav-check {
    width: 100%;
    background-color: #fff;
    margin-bottom: 12rpx;

    li {
      width: 50%;
      text-align: center;
      height: 70rpx;
      line-height: 70rpx;
      display: inline-block;
      color: #9EABBE;
      font-size: 28rpx;
      box-sizing: border-box;
    }

    .active {
      color: #FFBB52;
      border-bottom: 2rpx solid #FFBB52;
    }
  }

  //   list
  .list-wrap {
    padding-top: 82rpx;
  }
  %flexRow {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;

  }
  .list-one {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140rpx;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 24rpx;
    color: #828282;
    padding: 0 36rpx;
    justify-content: space-between;

    .left-wrap {
      display: flex;
      align-items: center;
      width: 456rpx;
      border-right: 2rpx solid #eee;
    }
    %flexRow {
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:flex-start;

    }
    .bold {
      font-weight: bold;
      font-size: 26rpx;
      color: #5B5B5B;
    }

    .name {
      max-width: 260rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }

    .level {
      width: 70rpx;
      height: 30rpx;
      background: #FFBA51;
      border-radius: 100rpx;
      line-height: 30rpx;
      text-align: center;
      display: inline-block;
      color: #fff;
      margin-left: 16rpx;
      font-size: 22rpx;
    }

    .header-img {
      width: 80rpx;
      height: 80rpx;
      border-radius: 8rpx;
      margin-right: 16rpx;
    }

    .right-wrap {
      text-align: right;
    }
  }

  .list-one+.list-one {
    border-top: 2rpx solid #f2f2f2;
  }
}
