.pusherA{
  width: 100%;
  height: 130%;
  background-image: url("https://oss.tzyizan.com/salesInfo/201907171120081563333608811.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .TopImg {
    background: #ffffff;
    width: 100%;
    position: relative;
      i {
        position: absolute;
        top: ~'60rpx';
        left: ~'20rpx';
      }
      .iconE{
        color: #ffffff;
        font-size: ~'40rpx';
      }
      span {
        position: absolute;
        top: ~'56rpx';
        color: #ffffff;
        left: ~'300rpx';
        font-size: ~'37rpx';
        font-weight: 500;
      }
  }

  // ipad
  .mainB{
    position: relative;
    top: ~'520rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'80rpx';
        margin-top: ~'55rpx';
        button{
          height: ~'80rpx';
          line-height: ~'80rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }

  // ipad
  .mainC{
    position: relative;
    top: ~'520rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'80rpx';
        margin-top: ~'55rpx';
        button{
          height: ~'80rpx';
          line-height: ~'80rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }
  // ipad
  .mainD{
    position: relative;
    top: ~'520rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'80rpx';
        margin-top: ~'55rpx';
        button{
          height: ~'80rpx';
          line-height: ~'80rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }
}




// ipad
.pusher{
  width: 100%;
  height: 100%;
  background-image: url("https://oss.tzyizan.com/salesInfo/201907171120081563333608811.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .TopImg {
    background: #ffffff;
    width: 100%;
    position: relative;
    i {
      position: absolute;
      top: ~'60rpx';
      left: ~'20rpx';
    }
    .iconE{
      color: #ffffff;
      font-size: ~'40rpx';
    }
    span {
      position: absolute;
      top: ~'56rpx';
      color: #ffffff;
      left: ~'300rpx';
      font-size: ~'37rpx';
      font-weight: 500;
    }
  }
  // 推客选择
  .main{
    position: relative;
    top: ~'540rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'80rpx';
        margin-top: ~'55rpx';
        button{
          height: ~'80rpx';
          line-height: ~'80rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }

  // iponex
  .mainA{
    position: relative;
    top: ~'660rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'57rpx';
        margin-top: ~'65rpx';
        button{
          height: ~'57rpx';
          line-height: ~'57rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }
  // ipad
  .mainB{
    position: relative;
    top: ~'500rpx';
    left: ~'76rpx';
    width: ~'615rpx';
    height: ~'600rpx';
    .choose{
      padding: ~'20rpx';
      .open{
        width: ~'561rpx';
        height: ~'57rpx';
        margin-top: ~'65rpx';
        button{
          height: ~'57rpx';
          line-height: ~'57rpx';
          background: #3B9DEE;
          color:#ffffff;
          font-size: ~'30rpx';
        }
      }
      .testTitle {
        //flex: 1;
        //text-align: center;
        color: #2A94EC;
      }
      .selected {
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #3B9DEE!important;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
      .block{
        width: ~'561rpx';
        height: ~'121rpx';
        border: ~'1rpx' solid #cccccc;
        border-radius: ~'10rpx';
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: ~'20rpx';
        .chooseImg{
          position: absolute;
          right: ~'50rpx';
          top: ~'25rpx';
          width: ~'32rpx';
          height: ~'32rpx';
          img{
            width: 100%;
            height: 100%;
          }
        }
        .flex{
          margin-left: ~'30rpx';
          .top{
            font-size: ~'28rpx';
            .title{
              color: #484848;
            }
            .blue{
              color:#3B9DEE ;
              margin-left: ~'30rpx';
            }
          }
          .last{
            font-size: ~'26rpx';
            color: #9d9d9d;
          }
        }
      }
    }
  }
}
